
<div class="col-md-1"></div>
<div class="col-md-1"></div>
<div class="col-md-8">
<h1 class="headerTextfont centerTable">
    Mochi
</h1>
<br>
<table id="myTable" class="table table-striped centerTable col-md-8 tablesorter">
    <thead class="heading">
        <tr style="font-size: 20px">
            <th class="centerTable">Article</th>
            <th class="centerTable">Username</th>
            <th class="centerTable">Date</th>
        </tr>
    </thead>
    <tbody class="content">
    {{#each articles}}
        <tr style="font-size: 15px;">
            <td  class="col-md-6" style="text-align: left"><a href="/article/{{id}}">{{title}}</td>
            <td><a href="/home/{{userId}}">{{userName}}</td>
            <td>{{date}}</td></tr>
    {{/each}}
        </tr>
    </tbody>
</table>
</div>

		